*
{
  margin: 0;
}
.section1
{
  background: linear-gradient(rgba(0, 0, 0, 0.533)),url(./bc49a2d9c02e8e4c39ff29f37248da0deba3f3f2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}
.section1:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.218)),url(./bc49a2d9c02e8e4c39ff29f37248da0deba3f3f2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%; 
}
.p1
{
  color: white;
  display: flex;
  gap: 30px;
}
.p2
{
  background-color: green;
  color: white;
  height: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}
.section1_2
{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.p4
{
  display: none;
}
.p5
{
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 130px;
  margin-left: 200px;
}
.section2
{
  height: 700px;
  margin-top: 100px;
}
.p6_2
{
  color: #1178B2;
  margin-left: 100px;
}
.p7
{
  width: 380px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
}
.p8
{
  width: 400px;
  height: 250px;
  margin-top: 50px;
}
.p9
{
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
.section3
{
  height: 500px;
  margin-top: -200px;
}
.p10
{
  width: 250px;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  box-shadow: 0px 0px 10px black ;
  border-radius: 10px;
}
.p11
{
  display: flex;
  gap: 50px;
  width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

















@media (max-width:510px) {

  .section1_2
  {
    width: 100px;
    display: flex;
    justify-content: space-around;
  }
  .p1
  {
    gap: 10px;
  }
  .section1
  {
    width: 100%;
    margin-left: 0;
  }
  .p1
  {
    display: none;
  }
  .p2
  {
    margin-left: 160px;
    margin-top: -10px;
  }
  .p4
  {
    display: block;
    margin-left: 5px;
    margin-top: -10px;
  }
  .p5
  {
    width: 80%;
    margin-top: 100px;
    margin-left: -20px;
    text-align: center;
  }
  .p5_2
  {
    width: 100%;
    width: 100%;
    margin-left: 50px;

  }
  .p5_1
  {
    width: 80%;
    margin-left: 30px;
  }
  .p9
  {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .p6
 {
  margin-left: 100px;
 }
  .p7
 {
  margin-left: 0;
 }
  .p8
 {
  margin-left: 0;
 }
 .section3
 {
  width: 100%;
  margin-top: 0px;
 }
 .p11
 {
  width: 90%;
  flex-wrap: wrap;
  display: flex;
 }
 .p10
 {
  margin: auto;
    width: 250px;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  box-shadow: 0px 0px 10px black ;
  border-radius: 10px;
 }
}